body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  grid-template-rows: auto 1fr 1fr;
  grid-gap: 100px;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  grid-column: 1 / -1;
  text-align: center;
  padding: 20px;
}

.header-title {
  margin: 0;
  font-size: 30px;
}

.header-description {
  margin: 10px 0 0;
  font-size: 16px;
  color: #555;
}
.icon {
  position: relative;
  text-align: center;
}

.icon-wrapper {
  position: relative;
  text-align: center;
}

.icon img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.header-logo {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.grid-container::after {
  content: '';
  display: block;
  height: 200px;
}
