/* Sets the base styling for the body and html elements */
body, html {
  height: 100%; /* Makes the body and html elements take up the full height of the viewport */
  margin: 0; /* Removes the default margin from the body and html elements */
  font-family: Arial, sans-serif; /* Sets the default font for the webpage to Arial or a sans-serif alternative */
}

/* Styles the grid container */
.grid-container {

  display: grid; /* Enables CSS grid layout for the container */
  grid-template-columns: 1fr 1fr; /* Divides the container into two columns of equal width */
  align-items: start; /* Aligns grid items at the start of the grid area in the cross axis */
  grid-template-rows: auto 1fr 1fr; /* Defines three rows with the first row height set to content and the others to equal height */

  grid-gap: 100px; /* Sets the gap between grid items */
  height: 100vh; /* Sets the height of the grid container to 100% of the viewport height */
  padding: 10px; /* Adds padding around the grid container */
  box-sizing: border-box; /* Changes the box-sizing so padding and border are included in the element's total width and height */
}

/* Styles for the header */
.header {
  grid-column: 1 / -1; /* Spans the header across all columns in the grid */
  text-align: center; /* Centers the header text horizontally */
  padding: 20px; /* Adds padding inside the header */
}

/* Styles for the header title */
.header-title {
  margin: 0; /* Removes default margin from the header title */
  font-size: 30px; /* Sets the font size for the header title */
}

/* Styles for the header description */
.header-description {
  margin: 10px 0 0; /* Sets the top margin of the header description and removes bottom and side margins */
  font-size: 16px; /* Sets the font size for the header description */
  color: #555; /* Sets the text color for the header description */
}
.icon {
  position: relative; /* Ensures that the absolute positioning of .icon-text is relative to this container */
  text-align: center;
}
/* Styles for the icon wrapper */
.icon-wrapper {
  position: relative; /* Sets the positioning context for absolutely positioned children */
  text-align: center; /* Centers the content horizontally within the icon wrapper */
}

/* Styles for the icon image */
.icon img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* Styles for the icon text */
.icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.header-logo {
  width: 100%; /* Adjust as needed to fit your design */
  height: auto; /* Keeps the aspect ratio of the logo */
  display: block; /* Ensures the logo is a block-level element to take up its own line */
  margin: 0 auto; /* Centers the logo within the header */
}


.grid-container::after {
  content: '';
  display: block;
  height: 200px; /* This will create a space of 20px */
}

