*{
  font-family: "Oswald", sans-serif;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
}

.gallery-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
.text-block {
  color: white; /* Change to your desired font color */

}
.text-block p {
font-size: 20px;


}
.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-nav li {
  display: inline;
  margin-right: 20px; /* Adjust spacing as needed */
}

.footer-nav a {
  color: inherit; /* Inherits color from parent elements, change as needed */
  text-decoration: none; /* Removes underline from links */
}

.footer-nav a:hover {
  text-decoration: underline; /* Adds underline on hover for better usability */
}
